<!-- [START] FOOTER -->
<footer class="main-footer">
  <div class="logo-footer">
  </div>
<div class="iner">
<div class="explore">
  <ul class="explore-menu">
 <!--    <h3>Explore</h3>
    <li>Home</li>
    <li>Dashboard</li>
    <li>Icons</li> -->
    <li>FAQ</li>
    <li>Contact</li>
  </ul>
</div>
</div>
</footer>
<!-- [END] FOOTER -->
