.checkthispend.accepted{
    color: green !important;
    a {
        color: green;
    }
}

.checkthispend.declined{
    color: red !important;
    a {
        color: red;
    }
}

.checkthispend{
    color: gray;
    a {
        color: gray;
    }
}

.card-status.accepted{
    background-color: green;
}

.card-status.declined{
    background-color: red;
}