.checkthisquick{
    color: green !important;
    a {
        color: green;
    }
}

.checkthisdec{
    color: red !important;
    a {
        color: red;
    }
}

.checkthispend{
    color: gray !important;
    a {
        color: gray;
    }
}
