@import "bootstrap/scss/bootstrap";

.border {
  color: white;
  background-color: #2d2d2d;
  padding: 16px 16px;
  border-radius: 5px;
  opacity: .9;
}

.border .btn{
  background: #aa2c2c;
  border-radius: 6px;
  border-color: #aa2c2c;

  &:hover {
    background: #c82626;
    border-color: #c82626;
  }
}

.border input {
  border: #272c33;
  color: #fff;
}

.form-control-file {
  border-radius: 50px!important;
}
