.session-list2{
    border: 1px solid #5d5dca;
    background: #262626;
    margin-bottom: 100px;
    margin-left: 250px;
    margin-top: 100px;
    margin-right: 250px;
  }
  
  .hello2 {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
    
  }
  
  .headerh12{
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    padding: 0.75rem;
  }
  
  .card-status2{
    font-size: 20px;
    line-height: 1;
    padding: 0.75rem 0.5rem;
    text-align: center;
    background-color: #9b9ba0;
    color: #fff;
  }
  
  .photoEdit{
    border-radius: 50%;
    height: 192px;
    width: 192px;
    object-fit: cover;
    padding-left: 30px;
    padding-top: 30px;
  }
  
  .toggle {
    display: none;
  }
  
  .wrapthat2{
    display: block;
  }
  
  .photoMini{
    border-radius: 50%;
    height: 80px;
    width: 80px;
  }

  .wrapper2{
    width:400px;
    height:200px;
    position:relative;
    perspective: 1000;
    -webkit-perspective: 1000;
    left:calc(50% - 200px);
    top:calc(50vh - 100px);
    display: none;
  }

  .wrapthat2{
    display: none;
  }
  .keycount{
    color: green;
  }

  .keycount2{
    color: red;
  }

  .keycount3{
    color: gray;
  }