<h1>Book with your Favourite Icon </h1>
<%= link_to "Crate a new Icon",  new_icon_path%>
<p><% @icons.each do |icon| %>
   <img src="https://source.unsplash.com/featured/?{actor}" alt="Bob Dylan">
  <%= icon.name %>
  <%= icon.category %>
  <% end %>


</p>
