<!-- ICONS INDEX HTML [+] -->
<section class="index-icons-wrap">
<!-- [+] HERO -->
 <div class="icons-hero" style="background:url('https://v.fastcdn.co/u/0b1233a0/56422917-0-21Q1-UA-Instapage-De.jpg');">
   <span class="sup-title">COMING SOON</span>
   <span class="title">Adriano Chilintano</span>
</div>
<!-- [-] HERO -->
<!-- PAGE TITLE -->
<div class="index-icons-title">
<h1>Browse All Icons</h1>
</div>
<!-- [-] PAGE TITLE -->
<!-- [+] CATEGORY -->
<section class="icons-category">
<span></span>

</section>
<!-- [-] CATEGORY -->

<!-- [+] ICONS -->
<section class="icons-index-list">
<div class="list-iner">
  <div class="left-side-bar">
    <ul class="category-icons">
      <li>All classes</li>
      <li>Arts & Entertainment</li>
      <li>Food</li>
      <li>Music</li>
      <li>Business</li>
      <li>Sports & Gaming</li>
      <li>Writing</li>
      <li>Science & Tech</li>
      <li>Home & Lifestyle</li>
      <li>Community & Government</li>
    </ul>
  </div>
  <div class="right-side-bar">
    <ul class="icons-lists">
      <!-- [+] SINGLE ICON ITEM -->
      <li style="background:url('https://www.masterclass.com/course-images/attachments/PM3N5CPL1AhDizCfJSFhsZUi?width=300&height=533&fit=cover&dpr=2');">
        <div class="hs-inner">
          <div class="title">
            <p><strong>Williams Will</strong></p>
            <p>The real test of BBQ that make you king of the party</p>
          </div>
          <button class="button" type="button" name="button">Book</button>
        </div>
      </li>
      <!-- [-] SINGLE ICON ITEM -->
      <!-- [+] SINGLE ICON ITEM -->
      <li style="background:url('https://www.masterclass.com/course-images/attachments/PM3N5CPL1AhDizCfJSFhsZUi?width=300&height=533&fit=cover&dpr=2');">
        <div class="hs-inner">
          <div class="title">
            <p><strong>Williams Will</strong></p>
            <p>The real test of BBQ that make you king of the party</p>
          </div>
          <button class="button" type="button" name="button">Book</button>
        </div>
      </li>
      <!-- [-] SINGLE ICON ITEM -->
      <!-- [+] SINGLE ICON ITEM -->
      <li style="background:url('https://www.masterclass.com/course-images/attachments/PM3N5CPL1AhDizCfJSFhsZUi?width=300&height=533&fit=cover&dpr=2');">
        <div class="hs-inner">
          <div class="title">
            <p><strong>Williams Will</strong></p>
            <p>The real test of BBQ that make you king of the party</p>
          </div>
          <button class="button" type="button" name="button">Book</button>
        </div>
      </li>
      <!-- [-] SINGLE ICON ITEM -->
      <!-- [+] SINGLE ICON ITEM -->
      <li style="background:url('https://www.masterclass.com/course-images/attachments/PM3N5CPL1AhDizCfJSFhsZUi?width=300&height=533&fit=cover&dpr=2');">
        <div class="hs-inner">
          <div class="title">
            <p><strong>Williams Will</strong></p>
            <p>The real test of BBQ that make you king of the party</p>
          </div>
          <button class="button" type="button" name="button">Book</button>
        </div>
      </li>
      <!-- [-] SINGLE ICON ITEM -->
      <!-- [+] SINGLE ICON ITEM -->
      <li style="background:url('https://www.masterclass.com/course-images/attachments/PM3N5CPL1AhDizCfJSFhsZUi?width=300&height=533&fit=cover&dpr=2');">
        <div class="hs-inner">
          <div class="title">
            <p><strong>Williams Will</strong></p>
            <p>The real test of BBQ that make you king of the party</p>
          </div>
          <button class="button" type="button" name="button">Book</button>
        </div>
      </li>
      <!-- [-] SINGLE ICON ITEM -->
    </ul>
  </div>
</div>
</section>
<!-- [-] ICONS -->

</section>
<!-- ICONS INDEX HTML [-] -->