<h1>Book with your Favourite Icon </h1>
<p><% @icons.each do |icon| %>
   <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn4.pitchfork.com%2Flongform%2F1005%2FBobDylan.jpg&f=1&nofb=1" alt="Bob Dylan">
  <%= icon.name %>
  <%= icon.category %>
  <% end %>


</p>
